@import "~antd/dist/antd.css";

.App {
  text-align: center;
  margin-top: 50px;
}
.toDoWrapper {
  margin-top: 25px;
}
.addToListWrapper {
  margin-top: 15px;
}
.listToDo .listComplete {
  overflow: scroll;
}

input {
  text-align: center;
}
body {
  margin: 0;
  /* background-color: aqua !important; */
  margin-top: 5%;
  overflow: scroll;
}
ul {
  list-style-type: none;
}
.cardInput {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btnComplete {
  padding: 0;
  margin-right: 4px;
  border: none;
  background: none;
  color: green;
}
.btnRemove {
  padding: 0;
  border: none;
  background: none;
  color: red;
}
.password_login {
  margin-bottom: 0;
}
.sign_up_link {
  cursor: pointer;
}
.sign_up_header {
  margin-bottom: 2rem;
}
.notepad-logo {
  size: 2rem;
}
.toDoInput {
  margin-bottom: 1rem;
}
.completed-list {
  border-radius: 20%;
}
.ant-card-body {
  padding: 0px;
}
